@media screen and (max-width: 768px) {
    .container {
        width: 100%;
    }
}
@media screen and (max-width: 480px) {
    .row {
        flex-wrap: wrap;
    }
    .lessons .col,
     .steps .col,
     .why-us .col-left,
     .why-us .col-right {
        width: 100%;
        margin-bottom: 2rem;
    }
    .steps {
        margin-bottom: 0px;
    }
    .why-us {
        background-color: black;
        padding-top: 3rem;
    }
}
@media screen and (min-width: 768px) and (max-width: 1140px) {
    .container {
        width: 100%;
    }
}